body {
  background: #f0f8ff;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1em;
  margin-top: 1em;
}

.container {
  width: 700px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.top {
  background: #add8e6;
}

.bottom {
  background: #87acb9;
}

p {
  margin-bottom: 1em;
}
